Rentify helps people to find the correct tenants and also helps tenants to find the correct home based on their key requirements 

what are the tech stack that we can use is 
-for frontend we can use html, css, js
-and for the backend we need to use flask  and the entire application needs to built in 4 hours 

and let me tell you the mandatory parts of the application 
part 1:
login :
-before login the users should also be able to register them (signup ) -  with their first name, last name, email, phone number . Note: the user can be buyer or seller .

Seller Flow :
-Able to post property by providing details about the property Note: Create a list of essentials property attributes neccesary for marketing a property for sale 
for eg. place, area, no. of bedrooms bathrooms, hospitals and college nearby etc. 
-Seller should be able to see the property he has posted .
-The seller should be able to update or delete his property. 
Buyer Flow:
-he should be able to see all the rentals posted properties 
- if the buyer is interested in any Property then he should be able to click on I'm interested button on the property widget and once the buyer clicks on the button then the seller details should be shown. 
- buyers should be able to apply filters on possible criteria 
-filters can be based on any of the property details 

part 2 :
-pagination and proper form validation should be there 
-mandate the logged in users to see the property details if unauthorized then should be redirected to the login page 
 -add a like button to each property and track the count, live .
